.button {
  max-width: 12rem;
  appearance: none;
  border-radius: 2rem;
  border:none;
  padding:1rem;
  background-color:  #00BF82;
  color:white;
  font-weight: 700;
  font-size:1rem;
  cursor:pointer;
}