.burger {
  display: inline-block;
  cursor: pointer;
  appearance: none;
  position: fixed;
  padding:0;
  margin:0;
  border:0;
  width:35px;
  height:39px;
  background-color: unset;
  z-index:101;
  span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #00BF82;
    margin: 6px 0;
    transition: all 0.4s;
  }
}

.active {
  span {
    background-color:white;
    &:nth-child(1) {
      transform: rotate(-45deg) translate(-9px, 6px);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }
}
